body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}
